.cache/
.ipynb_checkpoints/
.pytest_cache/
.ropeproject/
.nocheck/
_build/
dist/
build/
dist/
__pycache__/
*.egg-info/
.ropeproject/

compile_commands.json

.quarto/
*.html
*.ipynb
*.csv
*.json
*.h5
*.db
*.sqlite
*.log
*.zarr/
